
@{
    ViewBag.Title = "Paqueteria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script src="~/Content/js/Catalogos/Paqueteria/Paqueteria.js"></script>
}

@*<div class="main-panel">*@
<div class="content-wrapper">
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><b> Paqueterias </b></h4>
                    <form class="form-sample">
                        <p class="card-description">
                            Elige que deseas realizar (+ Agregar, Buscar, Editar o Eliminar)
                        </p>
                        <br />
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="txtPaqueteria">Paqueteria</label>
                                <input type="text" class="form-control" maxlength="50" id="txtPaqueteria" placeholder="Paqueteria">
                            </div>
                            <div class="col-sm-1"></div>
                            @*<div class="col-sm-2">
                                <label for="Valoracion">Valoracion</label>
                                <div class="br-wrapper br-theme-fontawesome-stars">
                                    <select class="example-fontawesome" id="Valoracion" name="rating" autocomplete="off">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>*@

                            <div class="col-sm-3">
                                <label for="sltEstatus">Estatus </label>
                                <select class="form-control" id="sltEstatus">
                                    <option value="null" selected disabled>Seleccione Estatus</option>
                                    <option value="1">Activo</option>
                                    <option value="0">Inactivo</option>
                                </select>
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-md-2">
                                <div class="template-demo">
                                    <button type="button" id="btnBuscar" style="align-items:baseline"
                                            class="btn btn-success btn-rounded mr-2 btn-fw"
                                            onclick="Buscar();">
                                        Buscar
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="template-demo">
                                    <button type="button" id="btnLimpiarBuscar"
                                            class="btn btn-light btn-rounded mr-2 btn-fw"
                                            onclick="LimpiarCamposBusqueda();">
                                        Limpiar
                                    </button>
                                </div>
                            </div>
                        </div>         

                    </form>
                </div>
            </div>
        </div>


        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div id="divListaPaqueteria">
                        @Html.Partial("ListaPaqueteria", ViewData["ListaCat"])
                    </div>
                </div>
            </div>
        </div>


        @*Spinner que ayuda a mostrar el modal de alta*@
        <div class="theme-setting-wrapper">
            <div id="settings-trigger">
                <i data-toggle="modal" data-target="#AltaModal" class="mdi mdi-plus" onclick="MostrarMenu();" style="cursor:pointer" title="Alta"></i>
            </div>
        </div>
    </div>

    @*Modal para alta de Paqueteria*@
    <div class="modal fade" id="AltaModal" tabindex="-1" role="dialog" aria-labelledby="AltaModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="max-width:60%;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fc-center" id="AltaModalLabel"><b>Captura la informaci&oacute;n y presiona guardar</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="Ocultar();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <label for="txtPaqueteriaM">Paqueteria</label>
                            <input type="text" class="form-control" maxlength="50" id="txtPaqueteriaM" placeholder="Paqueteria">
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-3">
                            <label for="ValoracionM">Valoracion</label>
                            <div class="br-wrapper br-theme-fontawesome-stars">
                                <select class="example-fontawesome" id="ValoracionM" name="rating" autocomplete="off">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnGuardar"
                            class="btn btn-success btn-rounded mr-2 btn-fw"
                            onclick="AltaPaqueteria();">
                        Guardar
                    </button>
                    <button type="button" id="btnLimpiar"
                            class="btn btn-secondary btn-rounded mr-2 btn-fw"
                            onclick="LimpiarCampos();">
                        Limpiar
                    </button>
                </div>
            </div>
        </div>
    </div>

    @*Modal para editar la Paqueteria*@
    <div class="modal fade" id="ModificarModal" tabindex="-1" role="dialog" aria-labelledby="ModificarModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="max-width:60%;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fc-center" id="ModificarModalLabel"><b>Captura la informaci&oacute;n y presiona guardar</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="Ocultar();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <label for="txtPaqueteriaMEditar">Paqueteria</label>
                            <input type="text" class="form-control" maxlength="50" id="txtPaqueteriaMEditar" placeholder="Paqueteria">
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3">
                            <label for="ValoracionMEditar">Valoracion</label>
                            @*<select class="form-control" id="ValoracionMEditar">
                                <option value="null" selected disabled>Seleccione Valoracion</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>*@
                            <div class="br-wrapper br-theme-fontawesome-stars" id="divValoracionEditar">
                                <select class="example-fontawesome" id="ValoracionMEditar" name="rating" autocomplete="off">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <label for="sltEstatusModificar">Estatus</label>
                            <select class="form-control" id="sltEstatusModificar">
                                <option value="null" selected disabled>Seleccione Estatus</option>
                                <option value="1">Activo</option>
                                <option value="0">Inactivo</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        @*<div class="col-sm-1">*@
                        <input type="text" class="form-control" hidden="hidden" id="txtIdPaqueteriaMEditar" placeholder="Id">
                        @*</div>*@
                        @*<div class="col-sm-2">*@
                        <button type="button" id="btnEditar"
                                class="btn btn-success btn-rounded mr-2 btn-fw"
                                onclick="EditarPaqueteria();">
                            Guardar
                        </button>
                        @*</div>*@
                        @*<div class="col-sm-2">*@
                        <button type="button" id="btnLimpiar"
                                class="btn btn-secondary btn-rounded mr-2 btn-fw"
                                onclick="LimpiarCamposEditar();">
                            Limpiar
                        </button>
                        @*</div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>