
@{ 
    ViewBag.Title = "Favorito";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
 }

@section Scripts{
    <script src="~/Content/js/Catalogos/Favorito/Favorito.js"></script>
}

<div class="content-wrapper">

    <div class="card-columns" id="divFav">


    </div>
</div>
