
@{ ViewBag.Title = "Carrito";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

@section Scripts{

    @*Necesario para funcionamiento de zoom*@
    <script src="~/Content/js/zoom/zoom.js"></script>

    <script src="~/Content/js/Catalogos/Carrito/Carrito.js"></script>
}

<div class="content-wrapper">

    <div class="card-columns" id="divCar">

        @*<div class="form-group row">
                <div class="col-sm-12">
                    <div class="col-sm-4">

                        <button type="button" class="btn btn-secondary" style="border:none; background:none; float:left;" id="btnMenos">

                            <i class="fa fa-minus" style:"cursor:pointer;"></i>

                        </button>

                    </div>
                    <div class="col-sm-3">
                        <input class="form-control input-number" min="1" value="1" maxlength="10" id="txtCantidad">

                    </div>
                    <div class="col-sm-4">

                        <button type="button" class="btn btn-secondary" style="border:none; background:none; float:right;" id="btnMas">

                            <i class="fa fa-plus" style:"cursor:pointer;"></i>

                        </button>
                    </div>
                </div>
            </div>*@

    </div>

    @*Modal para mostrar detalle de producto*@
    <!-- Modal -->
    <div class="modal fade" id="ModalDetProd" tabindex="-1" role="dialog" aria-labelledby="DetProdLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document" style="max-width:70%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fc-center" id="DetProdLabel"><b>Nombre</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="Ocultar();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="container d-flex justify-content-center">
                        <div class="row ">
                            <div class="col-lg-6 col-md-6  col-sm-12 " id="divBodyImg">
                                <div class=" mb-2 ">
                                    <img src="~/Content/images/carousel/banner_1.jpg" class="big_image mt-2 border border-0 w-100 " alt="img" style="width:auto; height:auto;">
                                </div>

                                <div class=" d-flex " style="overflow-x:auto;">
                                    <img src="~/Content/images/carousel/banner_1.jpg" class="small_img border border-0 w-25">
                                    <img src="~/Content/images/carousel/banner_2.jpg" class="small_img border border-0 w-25">
                                    <img src="~/Content/images/carousel/banner_3.jpg" class="small_img border border-0 w-25">
                                    <img src="~/Content/images/carousel/banner_4.jpg" class="small_img border border-0 w-25">
                                    <img src="~/Content/images/carousel/banner_5.jpg" class="small_img border border-0 w-25">
                                    <img src="~/Content/images/carousel/banner_6.jpg" class="small_img border border-0 w-25">
                                    <img src="~/Content/images/carousel/banner_7.jpg" class="small_img border border-0 w-25">
                                    <img src="~/Content/images/carousel/banner_8.jpg" class="small_img border border-0 w-25">
                                    <img src="~/Content/images/carousel/banner_9.jpg" class="small_img border border-0 w-25">
                                    <img src="~/Content/images/carousel/banner_10.jpg" class="small_img border border-0 w-25">
                                    <img src="~/Content/images/carousel/banner_11.jpg" class="small_img border border-0 w-25">
                                    <img src="~/Content/images/carousel/banner_12.jpg" class="small_img border border-0 w-25">
                                </div>

                            </div>
                            <div class="col-lg-6 col-md-6  col-sm-12" id="divBodyDet" style="overflow-y:auto; overflow-x:auto;">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>

</div>
