
@{ 
    ViewBag.Title = "Carrito";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
 }

@section Scripts{
    <script src="~/Content/js/Catalogos/Carrito/Carrito.js"></script>
}

<div class="content-wrapper">

    <div class="card-columns" id="divCar">


    </div>
</div>
