
@{
    ViewBag.Title = "Principal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script src="~/Content/js/Principal/Principal.js"></script>
}

<div class="content-wrapper">

    <div class="card-columns" id="divDashboard">


        <div class="card">
            <div class="card-header">
                <div class="nonloop owl-carousel owl-theme full-width">
                    <div class="item">
                        <img src="~/Content/images/carousel/banner_12.jpg" alt="image" />
                    </div>
                    <div class="item">
                        <img src="~/Content/images/carousel/banner_2.jpg" alt="image" />
                    </div>
                    <div class="item">
                        <img src="~/Content/images/carousel/banner_1.jpg" alt="image" />
                    </div>
                </div>
            </div>
            <div>
                <button style="border:none; background:none; float:left" class="text-md-right" title="Favorito">
                    <i style="color:#dcdcdc" class="mdi mdi-heart mdi-24px"></i>
                </button>
                <button style="border:none; background:none; float:right" class="text-md-right" title="Favorito">
                    <i style="color:#dcdcdc" class="fa fa-shopping-cart fa-2x"></i>
                </button>
            </div>
            <div class="card-body">
                <h4 class="card-title">1 Card title that wraps to a new line</h4>

                <s style="color:#dcdcdc"><span style="color:#dcdcdc;">$201</span></s>
                <br />
                <span style="font-size:large">$199<sup>99</sup>&nbsp; </span><span style="color:#ff914d;">12% OFF</span>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <div class="nonloop owl-carousel owl-theme full-width">
                    <div class="item">
                        <img src="~/Content/images/carousel/banner_12.jpg" alt="image" />
                    </div>
                    <div class="item">
                        <img src="~/Content/images/carousel/banner_2.jpg" alt="image" />
                    </div>
                    <div class="item">
                        <img src="~/Content/images/carousel/banner_1.jpg" alt="image" />
                    </div>
                </div>
            </div>
            <div>
                <button style="border:none; background:none; float:left" class="text-md-right" title="Favorito">
                    <i style="color:gray" class="mdi mdi-heart mdi-24px"></i>
                </button>
                <button style="border:none; background:none; float:right" class="text-md-right" title="Carrito">
                    <i style="color:gray" class="fa fa-shopping-cart fa-2x"></i>
                </button>
            </div>
            <div class="card-body">
                <h4 class="card-title">2 Card title that wraps to a new line</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum hic officia animi quod iure, vel aliquam quia recusandae accusantium quo impedit labore, eligendi ipsam, fugit tempora, explicabo deleniti minus iste!</p>
            </div>
        </div>


        <div class="card">
            <div class="card-header">
                <div class="nonloop owl-carousel owl-theme full-width">
                    <div class="item">
                        <img src="~/Content/images/carousel/banner_12.jpg" alt="image" />
                    </div>
                    <div class="item">
                        <img src="~/Content/images/carousel/banner_2.jpg" alt="image" />
                    </div>
                    <div class="item">
                        <img src="~/Content/images/carousel/banner_1.jpg" alt="image" />
                    </div>
                </div>
            </div>
            <div>
                <button style="border:none; background:none; float:left" title="Favorito">
                    <i style="color:gray" class="mdi mdi-heart mdi-24px"></i>
                </button>

                <button style="border:none; background:none; float:right;" title="Agregar al Carrito">
                    <i style="color:gray" class="fa fa-shopping-cart fa-2x"></i>
                </button>
            </div>
            <div class="card-body">
                <h4 class="card-title">3 Card title that wraps to a new line</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum hic officia animi quod iure, vel aliquam quia recusandae accusantium quo impedit labore, eligendi ipsam, fugit tempora, explicabo deleniti minus iste!</p>
            </div>
        </div>

    </div>
</div>
