
@{ ViewBag.Title = "Principal";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

@section Scripts{

    @*Necesario para funcionamiento de zoom*@
    <script src="~/Content/js/zoom/zoom.js"></script>


    <script src="~/Content/js/Principal/Principal.js"></script>
}

<div class="content-wrapper">

    <div class="card-columns" id="divDashboard">


        <div class="card">
            <div class="card-header">
                <div class="nonloop owl-carousel owl-theme full-width">
                    <div class="item">
                        <img src="~/Content/images/carousel/banner_12.jpg" alt="image" />
                    </div>
                    <div class="item">
                        <img src="~/Content/images/carousel/banner_2.jpg" alt="image" />
                    </div>
                    <div class="item">
                        <img src="~/Content/images/carousel/banner_1.jpg" alt="image" />
                    </div>
                </div>
            </div>
            <div>
                <button style="border:none; background:none; float:left" class="text-md-right" title="Favorito">
                    <i style="color:#dcdcdc" class="mdi mdi-heart mdi-24px"></i>
                </button>
                <button style="border:none; background:none; float:right" class="text-md-right" title="Favorito">
                    <i style="color:#dcdcdc" class="fa fa-shopping-cart fa-2x"></i>
                </button>
            </div>
            <div class="card-body">
                <h4 class="card-title">1 Card title that wraps to a new line</h4>

                <s style="color:#dcdcdc"><span style="color:#dcdcdc;">$201</span></s>
                <br />
                <span style="font-size:large">$199<sup>99</sup>&nbsp; </span><span style="color:#ff914d;">12% OFF</span>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <div class="nonloop owl-carousel owl-theme full-width">
                    <div class="item">
                        <img src="~/Content/images/carousel/banner_12.jpg" alt="image" />
                    </div>
                    <div class="item">
                        <img src="~/Content/images/carousel/banner_2.jpg" alt="image" />
                    </div>
                    <div class="item">
                        <img src="~/Content/images/carousel/banner_1.jpg" alt="image" />
                    </div>
                </div>
            </div>
            <div>
                <button style="border:none; background:none; float:left" class="text-md-right" title="Favorito">
                    <i style="color:gray" class="mdi mdi-heart mdi-24px"></i>
                </button>
                <button style="border:none; background:none; float:right" class="text-md-right" title="Carrito">
                    <i style="color:gray" class="fa fa-shopping-cart fa-2x"></i>
                </button>
            </div>
            <div class="card-body">
                <h4 class="card-title">2 Card title that wraps to a new line</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum hic officia animi quod iure, vel aliquam quia recusandae accusantium quo impedit labore, eligendi ipsam, fugit tempora, explicabo deleniti minus iste!</p>
            </div>
        </div>


        <div class="card">
            <div class="card-header">
                <div class="nonloop owl-carousel owl-theme full-width">
                    <div class="item">
                        <img src="~/Content/images/carousel/banner_12.jpg" alt="image" />
                    </div>
                    <div class="item">
                        <img src="~/Content/images/carousel/banner_2.jpg" alt="image" />
                    </div>
                    <div class="item">
                        <img src="~/Content/images/carousel/banner_1.jpg" alt="image" />
                    </div>
                </div>
            </div>
            <div>
                <button style="border:none; background:none; float:left" title="Favorito">
                    <i style="color:gray" class="mdi mdi-heart mdi-24px"></i>
                </button>

                <button style="border:none; background:none; float:right;" title="Agregar al Carrito">
                    <i style="color:gray" class="fa fa-shopping-cart fa-2x"></i>
                </button>
            </div>
            <div class="card-body">
                <h4 class="card-title">3 Card title that wraps to a new line</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum hic officia animi quod iure, vel aliquam quia recusandae accusantium quo impedit labore, eligendi ipsam, fugit tempora, explicabo deleniti minus iste!</p>
            </div>
        </div>

    </div>




    
    @*Modal para mostrar detalle de producto*@
    <!-- Modal -->
    <div class="modal fade" id="ModalDetProd" tabindex="-1" role="dialog" aria-labelledby="DetProdLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document" style="max-width:70%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fc-center" id="DetProdLabel"><b>Nombre</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="Ocultar();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="container d-flex justify-content-center">
                        <div class="row ">
                            <div class="col-lg-6 col-md-6  col-sm-12 ">
                                <div class=" mb-2 ">
                                    <img src="~/Content/images/carousel/banner_1.jpg" class="big_image mt-2 border border-0 w-100 " alt="img" style="width:auto; height:auto;">
                                </div>

                                <div class=" d-flex " style="overflow-x:auto;">
                                    <img src="~/Content/images/carousel/banner_1.jpg" class="small_img border border-0 w-25">
                                    <img src="~/Content/images/carousel/banner_2.jpg" class="small_img border border-0 w-25">
                                    <img src="~/Content/images/carousel/banner_3.jpg" class="small_img border border-0 w-25">
                                    <img src="~/Content/images/carousel/banner_4.jpg" class="small_img border border-0 w-25">
                                    <img src="~/Content/images/carousel/banner_5.jpg" class="small_img border border-0 w-25">
                                    <img src="~/Content/images/carousel/banner_6.jpg" class="small_img border border-0 w-25">
                                    <img src="~/Content/images/carousel/banner_7.jpg" class="small_img border border-0 w-25">
                                    <img src="~/Content/images/carousel/banner_8.jpg" class="small_img border border-0 w-25">
                                    <img src="~/Content/images/carousel/banner_9.jpg" class="small_img border border-0 w-25">
                                    <img src="~/Content/images/carousel/banner_10.jpg" class="small_img border border-0 w-25">
                                    <img src="~/Content/images/carousel/banner_11.jpg" class="small_img border border-0 w-25">
                                    <img src="~/Content/images/carousel/banner_12.jpg" class="small_img border border-0 w-25">
                                </div>

                            </div>
                            <div class="col-lg-6 col-md-6  col-sm-12 ">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    
                </div>
            </div>
        </div>
    </div>




</div>
