@using wa_ral_shop.Models.Anonymous;

@{
    ViewBag.Title = "CPaqueteria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script src="~/Content/js/Administracion/CPaqueteria/CPaqueteria.js"></script>
}

@*<div class="main-panel">*@
<div class="content-wrapper">
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><b> Comentarios Paqueteria </b></h4>
                    <form class="form-sample">
                        <p class="card-description">
                            Elige que deseas realizar (+ Agregar, Buscar, Editar o Eliminar)
                        </p>
                        <br />
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="sltPaqueteria">Paqueteria</label>
                                @if (ViewData["cmbPaqueterias"] != null)
                                {
                                    @Html.DropDownList("Paqueterias", new SelectList((IEnumerable<ComboAnonymous>)ViewData["cmbPaqueterias"], "Id", "dato"), new { @id = "sltPaqueteria", @class = "js-example-basic-single form-control", data_placeholder = "Seleccione una Paqueteria", @style = "width:100%;" })
                                }
                                else
                                {
                                    <select class="js-example-basic-single w-100" data-placeholder="Sin datos" style="width:100%;" id="sltPaqueteria"></select>
                                }
                            </div>

                            <div class="col-sm-4">
                                <label for="sltEstatus">Estatus </label>
                                <select class="form-control" id="sltEstatus">
                                    <option value="null" selected disabled>Seleccione Estatus</option>
                                    <option value="1">Activo</option>
                                    <option value="0">Inactivo</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <div class="template-demo">
                                    <button type="button" id="btnBuscar" style="align-items:baseline"
                                            class="btn btn-success btn-rounded mr-2 btn-fw"
                                            onclick="Buscar();">
                                        Buscar
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="template-demo">
                                    <button type="button" id="btnLimpiarBuscar"
                                            class="btn btn-light btn-rounded mr-2 btn-fw"
                                            onclick="LimpiarCamposBusqueda();">
                                        Limpiar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>



        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div id="divListaCPaqueteria">
                        @Html.Partial("ListaCPaqueterias", ViewData["ListaCat"])
                    </div>
                </div>
            </div>
        </div>


        @*Spinner que ayuda a mostrar el modal de alta*@
        <div class="theme-setting-wrapper">
            <div id="settings-trigger">
                <i data-toggle="modal" data-target="#AltaModal" class="mdi mdi-plus" style="cursor:pointer" title="Alta" onclick="MostrarMenu();"></i>
            </div>
        </div>
    </div>

    @*Modal para alta de C.Paqueteria*@
    <div class="modal fade" id="AltaModal" tabindex="-1" role="dialog" aria-labelledby="AltaModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="max-width:60%;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fc-center" id="AltaModalLabel"><b>Introduce los datos y presiona guardar</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="Ocultar();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <label for="sltPaqueteriaM">Paqueteria</label>
                            @if (ViewData["cmbPaqueterias"] != null)
                            {
                                @Html.DropDownList("Paqueterias", new SelectList((IEnumerable<ComboAnonymous>)ViewData["cmbPaqueterias"], "Id", "dato"), new { @id = "sltPaqueteriaM", @class = "js-example-basic-single", data_placeholder = "Seleccione una Paqueteria", @style = "width:100%;" })
                            }
                            else
                            {
                                <select class="js-example-basic-single w-100" data-placeholder="Sin datos" style="width:100%;" id="sltPaqueteria"></select>
                            }
                        </div>
                        <div class="col-sm-5">
                            <label for="txtComentarioM"></label>
                            <textarea id="txtComentarioM" class="maxlength-textarea form-control" maxlength="200" rows="3" placeholder="Limite 200 caracteres"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnGuardar"
                            class="btn btn-success btn-rounded mr-2 btn-fw"
                            onclick="AltaCPaqueteria();">
                        Guardar
                    </button>
                    <button type="button" id="btnLimpiar"
                            class="btn btn-secondary btn-rounded mr-2 btn-fw"
                            onclick="LimpiarCampos();">
                        Limpiar
                    </button>
                </div>
            </div>
        </div>
    </div>

    @*Modal para editar la C. Paqueteria*@
    <div class="modal fade" id="ModificarModal" tabindex="-1" role="dialog" aria-labelledby="ModificarModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="max-width:60%;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fc-center" id="ModificarModalLabel"><b>Introduce los datos y presiona guardar</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="Ocultar();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="sltPaqueteriaMEditar">Paqueteria</label>
                            @if (ViewData["cmbPaqueterias"] != null)
                            {
                                @Html.DropDownList("Paqueterias", new SelectList((IEnumerable<ComboAnonymous>)ViewData["cmbPaqueterias"], "Id", "dato"), new { @id = "sltPaqueteriaMEditar", @class = "js-example-basic-single", data_placeholder = "Seleccione una Paqueteria", @style = "width:100%;" })
                            }
                            else
                            {
                                <select class="js-example-basic-single w-100" data-placeholder="Sin datos" style="width:100%;" id="sltPaqueteriaMEditar"></select>
                            }
                        </div>
                        <div class="col-sm-6">
                            <label for="txtComentarioMEditar"></label>
                            <textarea id="txtComentarioMEditar" class="maxlength-textarea form-control" maxlength="200" rows="3" placeholder="Limite 200 caracteres"></textarea>
                        </div>

                        <div class="col-sm-3">
                            <label for="sltEstatusModificar">Estatus</label>
                            <select class="form-control" id="sltEstatusModificar">
                                <option value="null" selected disabled>Seleccione Estatus</option>
                                <option value="1">Activo</option>
                                <option value="0">Inactivo</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        @*<div class="col-sm-1">*@
                        <input type="text" class="form-control" hidden="hidden" id="txtIdCPaqueteriaMEditar" placeholder="Id">
                        @*</div>*@
                        @*<div class="col-sm-2">*@
                        <button type="button" id="btnEditar"
                                class="btn btn-success btn-rounded mr-2 btn-fw"
                                onclick="EditarCPaqueteria();">
                            Guardar
                        </button>
                        @*</div>*@
                        @*<div class="col-sm-2">*@
                        <button type="button" id="btnLimpiar"
                                class="btn btn-secondary btn-rounded mr-2 btn-fw"
                                onclick="LimpiarCamposEditar();">
                            Limpiar
                        </button>
                        @*</div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>