@*@using wa_ral_shop.Models.Anonymous;*@

@{ ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

@Styles.Render("~/Content/css/images/payment/style.css")


@section Scripts{

    <script type="text/javascript" src="https://js.openpay.mx/openpay.v1.min.js"></script>
    <script type="text/javascript" src="~/Content/js/Administracion/Payment/Payment.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {

            //OpenPay.setId('mcpqgoe22dmeeukfcajw');
            //OpenPay.setApiKey('pk_dbdf44828124408aa3b9c227795846a9');

            //OpenPay.setSandboxMode(true);



            $('#pay-button').on('click', function (event) {
                alert("click");
                Buscar(@Session["Ide"]);
                // event.preventDefault();
                // $("#pay-button").prop("disabled", true);
                //alert(OpenPay.card.validateCardNumber($("#ipttarjeta").val()));
                //alert(OpenPay.card.validateCVC($("#iptcvv").val(), $("#ipttarjeta").val()));
                //alert(OpenPay.card.validateExpiry($("#iptmonth").val(), $("#iptyear").val()));
                //alert(OpenPay.card.cardType($("#ipttarjeta").val()));
                //OpenPay.token.extractFormAndCreate('processCard', SuccessCallback, ErrorCallback);
                //alert("click2");
            });

            function SuccessCallback(response) {
                alert('Operación exitosa');
                var content = '', results = document.getElementById('resultDetail');
                alert(content);
                content = 'Id tarjeta: ' + response.data.id + ' ';
                content = 'A nombre de: ' + response.data.holder_name + ' ';
                content = 'Marca de tarjeta usada: ' + response.data.brand + ' ';
                alert(content);
                results.innerHTML = content;
            }

            function ErrorCallback(response) {
                alert('Fallo en la transacción');
                var content = '', results = document.getElementById('resultDetail');
                alert(content);
                content = 'Estatus del error: ' + response.data.status + ' ';
                content = 'Error: ' + response.message + ' ';
                content = 'Descripción: ' + response.data.description + ' ';
                content = 'ID de la petición: ' + response.data.request_id + ' ';
                alert(content);
                results.innerHTML = content;
            }

        });


    </script>

}


<div class="content-wrapper">
    @*<div class="row">*@
    <div class="col-12">
        <div class="card">
            <div class="card-body">




                <div class="bkng-tb-cntnt">
                    <div class="pymnts">
                        
                        <form action="#" method="POST" id="processCard" name="processCard">
                            <input type="hidden" name="token_id" id="token_id">
                            <div class="pymnt-itm card active">
                                <h2 class="pymnt-h">Tarjeta de crédito o débito</h2>
                                <div class="pymnt-cntnt">
                                    <div class="card-expl">
                                        <div class="credit"><h4>Tarjetas de crédito</h4></div>
                                        <div class="debit"><h4>Tarjetas de débito</h4></div>
                                    </div>
                                    <div class="sctn-row">
                                        <div class="sctn-col l">
                                            <label>Nombre del titular</label>
                                            <input type="text" placeholder="Como aparece en la tarjeta" autocomplete="off" data-openpay-card = "holder_name">
                                        </div>
                                        <div class="sctn-col">
                                            <label>Número de tarjeta</label>
                                            <input type="text" autocomplete="off" data-openpay-card = "card_number" id="ipttarjeta">
                                        </div>
                                    </div>
                                    <div class="sctn-row">
                                        <div class="sctn-col l">
                                            <label>Fecha de expiración</label>
                                            <div class="sctn-col half l">
                                                <input type="text" placeholder="Mes" data-openpay-card = "expiration_month" id="iptmonth">
                                            </div>
                                            <div class="sctn-col half l">
                                                <input type="text" placeholder="Año" data-openpay-card = "expiration_year" id="iptyear">
                                            </div>
                                        </div>
                                        <div class="sctn-col cvv">
                                            <label>Código de seguridad</label>
                                            <div class="sctn-col half l">
                                                <input type="text" placeholder="3 dígitos" autocomplete="off" data-openpay-card = "cvv2" id="iptcvv">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="openpay">
                                        <div class="logo-pay">Transacciones realizadas vía:</div>
                                        <div class="shield">Tus pagos se realizan de forma segura con encriptación de 256 bits</div>
                                    </div>
                                    <div class="sctn-row">
                                        <a class="button right" id="pay-button">Pagar</a>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>






            </div>
        </div>
    </div>


    @*</div>*@



</div>



